body{
  width: 100vw;
  overflow-x: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #120f0d;
  cursor : url(../img/flower.png), pointer;
}

main{
  display: block;
  position: relative;
  width: 2500px;
  overflow-x: hidden;
  height: 100vh;
}
 
/* .xxx{ = class ; #xxx{ = balise ; div{ = toute la div */

/*  "Ah"  */
#aH{
  position: absolute;
  top: 100px;
  left: 100px;
  font-family: 'handjet';
  font-size: 200px;
  color: #F0DFD3;
  font-variation-settings: "ELSH" 14.75, "wght" 200, "ELGR" 1;
  z-index: 6;
}

#aH:hover{
  color: #F0DFD3;
  font-size: 1150px;
  opacity: 33%;
  animation-name:aH-hover;
  animation-duration: 3s;
  z-index: 6;
  font-variation-settings: "ELSH" 16, "wght" 400, "ELGR" 2;
}

@keyframes aH-hover {
  
  0%{
  font-size: 200px;
  transform: rotate(0.25deg);
  opacity: 100%;
  color: #F0DFD3;
  }

  50%{
    font-variation-settings: "ELSH" 15, "wght" 300, "ELGR" 2;
  }

  100%{
  font-size: 1150px;
  transform: rotate(360deg);
  font-variation-settings: "ELSH" 16, "wght" 400, "ELGR" 2;
  }
}


/* TCHOO */
#tchoo{
  position: absolute;
  top: 350px;
  left: 150px;
  font-family: 'recursive';
  font-size: 250px;
  color: #f4b3b3;
  opacity: 0.25%;
  font-variation-settings: "MONO" 0.51, "CASL" 0.2, "wght" 650, "slnt" -15;
  animation-name: tchoo; /*renseigner ici le nome de l'animation c'est écrit à côté de keyframes*/
  animation-duration: 4s; /*durée totale d'une itération de l'animation en seconde*/
  animation-iteration-count: infinite; /*nombre d'itération de l'animation*/
  animation-direction: alternate;/*lire l'animation dans un sens puis dans l'autre*/
	animation-delay : 1s;/*faire démarer une animation un peu en retard*/
  z-index: -1;
}
  
@keyframes tchoo {
  
  0%{
  color: #f4b3b3;
  font-variation-settings: "CASL" 0.2;

  }
  
  45%{
    font-size: 700px;
    font-variation-settings: "CASL" 0.4;
    opacity: 45%;
  }
  
  75%{
    color: #bb040b;
  }
  
  100%{
  font-variation-settings: "CASL" 1;
  }
}



/*chaotic space*/
#zoom1{
  position: absolute;
  top: 2000px;
  left: 0%;
  font-family: 'recursive';
  font-size: 250px;
  color: #2b0f15;;
  transform: rotate(-20deg);
  opacity: 100%;
  font-variation-settings: "MONO" 0.20, "CASL" 0.8, "wght" 150, "slnt" -2;
  animation-name: zoom1;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
  
@keyframes zoom1 {

  0%{
  color: #f4b3b3;
  top: 2200px;
  left: -150%;
  }

  40%{
    color:#d93f40;
  }

  55%{
    color:#852626;
  }

  100%{
  top: 800px;
  left: 150%;
  }
}

#ACK{
  position: absolute;
  top: 2200px;
  left: 250px;
  font-family: 'handjet';
  font-size: 640px;
  color: #F0DFD3;
  font-variation-settings: "ELSH" 14, "wght" 200, "ELGR" 1;
  animation-name: tilt-n-move-shaking1;
  animation-iteration-count: infinite;
  animation-duration: 4s;
}

#ACK:hover{
  animation-name: tilt-n-move-shaking2;
  animation-iteration-count: infinite;
  animation-duration: 0.60s;
}

@keyframes tilt-n-move-shaking1 {
  0% { transform: translate(0, 0) rotate(0deg); 
  }
  25% { transform: translate(5px, 5px) rotate(5deg);
    font-variation-settings: "ELSH" 14.25, "wght" 800, "ELGR" 2; 
  }
  50% { transform: translate(0, 0) rotate(0eg); 
    opacity: 63%;}
  75% { transform: translate(-5px, 5px) rotate(-5deg); 
    font-variation-settings: "ELSH" 14.75, "wght" 600, "ELGR" 1;
  }
  100% { transform: translate(0, 0) rotate(0deg);
    font-variation-settings: "ELSH" 14, "wght" 200, "ELGR" 1; 
    opacity: 100%;
  }
}

@keyframes tilt-n-move-shaking2 {
  0% { transform: translate(0, 0) rotate(0deg); 
  }
  25% { transform: translate(5px, 5px) rotate(5deg);
    font-variation-settings: "ELSH" 14.25, "wght" 800, "ELGR" 2; 
  }
  50% { transform: translate(0, 0) rotate(0eg); 
    opacity: 33%;}
  75% { transform: translate(-5px, 5px) rotate(-5deg); 
    font-variation-settings: "ELSH" 14.75, "wght" 400, "ELGR" 1;
  }
  100% { transform: translate(0, 0) rotate(0deg);
    font-variation-settings: "ELSH" 14, "wght" 200, "ELGR" 1; 
    opacity: 100%;
  }
}

/* orange A letters*/
/* fixed = recursive*/

.afixed{
  position: absolute;
  font-family: 'recursive';
  color: #f9ab24;
  animation-name:pop-in;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes pop-in {
  0% { opacity: 0;transform: scale(0.1); }
  100% { opacity: 1;transform: scale(1); }
  }
  @-webkit-keyframes pop-in {
  0% { opacity: 0;-webkit-transform: scale(0.1); }
  100% { opacity: 1;-webkit-transform: scale(1); }
  }
  @-moz-keyframes pop-in {
  0% { opacity: 0;-moz-transform: scale(0.1); }
  100% { opacity: 1;-moz-transform: scale(1); }
  }

/*rotates = handjet*/

.arotates{
  position: absolute;
  font-family: 'handjet';
  color: #f9ab24;
  animation-name: rotatescale;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotatescale { 
  0% { 
      transform: rotate(0deg) scale(1); 
  } 

  100% { 
      transform: rotate(360deg) scale(1); 
  } 
} 


/*identity of the RECURSIVE & FIXED letters*/

#a1{
  font-family: 'recursive';
  font-variation-settings: "MONO" 0.60, "CASL" 1, "wght" 150, "slnt" 0;
  font-size: 140px;
  top: 1850px;
  right: 900px;
}

#a2{
  font-family: 'recursive';
  font-size: 200px;
  font-variation-settings: "MONO" 1, "CASL" 0.2, "wght" 950, "slnt" -4;
  top: 1950px;
  right: 450px;
}

#a3{
  font-family: 'recursive';
  font-size: 300px;
  font-variation-settings: "MONO" 0.20, "CASL" 0.8, "wght" 150, "slnt" -2;
  top: 2950px;
  right: 550px;
}

#a4{
  font-family: 'recursive';
  font-size: 280px;
  font-variation-settings: "MONO" 0.20, "CASL" 0.8, "wght" 150, "slnt" -2;
  top: 2150px;
  right: 150px;
}

#a5{
  font-family: 'recursive';
  font-size: 320px;
  font-variation-settings: "MONO" 0.70, "CASL" 0.3, "wght" 350, "slnt" -10;
  top: 3250px;
  right: 250px;

}#a6{
  font-family: 'recursive';
  font-size: 200px;
  font-variation-settings: "MONO" 1, "CASL" 0, "wght" 750, "slnt" -15;
  top: 4650px;
  right: 450px;
}

#a7{
  font-family: 'handjet';
  font-variation-settings: "ELSH" 12, "wght" 100, "ELGR" 2;;
  font-size: 1400px;
  top: 1260px;
  right: 100px;
}

/*identity of the HANDJET on MOVEMENT letters*/

#a8{
  font-family: 'handjet';
  font-variation-settings: "ELSH" 10, "wght" 700, "ELGR" 2;;
  font-size: 180px;
  transform: rotate(-30deg);
  top: 2000px;
  right: 1300px;
}

#a9{
  font-family: 'handjet';
  font-variation-settings: "ELSH" 11, "wght" 200, "ELGR" 2;;
  font-size: 220px;
  transform: rotate(72deg);
  top: 2250px;
  right: 1000px;
}

#a10{
  font-family: 'handjet';
  font-variation-settings: "ELSH" 15, "wght" 400, "ELGR" 2;;
  font-size: 360px;
  transform: rotate(-11deg);
  top: 2350px;
  right: 800px;
}

#a11{
  font-family: 'handjet';
  font-variation-settings: "ELSH" 14, "wght" 500, "ELGR" 1;;
  font-size: 420px;
  transform: rotate(-17deg);
  top: 2650px;
  right: 320px;
}

#a12{
  font-family: 'handjet';
  font-variation-settings: "ELSH" 8, "wght" 300, "ELGR" 2;;
  font-size: 500px;
  transform: rotate(-2deg);
  top: 3300px;
  right: 880px;
}

#a13{
  font-family: 'handjet';
  font-variation-settings: "ELSH" 3, "wght" 600, "ELGR" 1;;
  font-size: 350px;
  transform: rotate(12deg);
  top: 3900px;
  right: 680px;
}

/*IDENTITIES Dog sounds*/

#ruff1{
  position: absolute;
  top: 3050px;
  left: 100px;
  font-family: 'handjet';
  font-variation-settings: "ELSH" 2, "wght" 900, "ELGR" 1;
  font-size: 300px;
  transform: rotate(-12deg);
}

#ruff2{
  position: absolute;
  top: 3550px;
  left: 600px;
  font-family: 'handjet';
  font-variation-settings: "ELSH" 2, "wght" 900, "ELGR" 1;
  font-size: 625px;
  color: transparent;
  transform: rotate(18deg);
  animation-name:flicker;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  z-index: 100;
}

.neonText {
  color:transparent;
  text-shadow:
  0 0 4px transparent,
  0 0 11px transparent,
  0 0 19px transparent,
  0 0 40px #ff1c19,
  0 0 80px #fff,
  0 0 150px #ff4f4f;
}
@keyframes flicker {
    
  0%, 18%, 22%, 25%, 53%, 57%, 100% {

      text-shadow:
      0 0 4px transparent,
      0 0 11px transparent,
      0 0 19px transparent,
      0 0 40px #ff1c19,
      0 0 80px #fff,
      0 0 150px #ff4f4f;
  
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}

/* Foot steps*/

.tap{
  position: absolute;
  font-family: 'handjet';
  font-variation-settings: "ELSH" 4, "wght"400, "ELGR" 1;
  color: #F0DFD3;
  
}

#tap1{
  position: absolute;
  top: 3265px;
  left: 292px;
  font-size: 250px;
  transform: rotate(12deg);
}

#tap2{
  position: absolute;
  top: 3920px;
  left: 485px;
  font-size: 275px;
  transform: rotate(18deg);
}

#tap3{
  position: absolute;
  top: 4250px;
  right: 750px;
  font-size: 300px;
  transform: rotate(-8deg);
}

/*zoom*/

#zoom2{
  position: absolute;
  top: 5000px;
  font-family: 'recursive';
  font-size: 250px;
  color: #2b0f15;;
  transform: rotate(-20deg);
  opacity: 100%;
  font-variation-settings: "MONO" 0.20, "CASL" 0.8, "wght" 150, "slnt" -2;
  animation-name: zoom2;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
  
@keyframes zoom2 {
  
  0%{
  color: #f4b3b3;
  top: 4200px;
  left: 150%;
  }

  40%{
    color:#d93f40;
  }

  55%{
    color:#852626;
  }

  100%{
  top: 6200px;
  left: -150%;
  }
}


/*Nionnnn*/
.div6{
  color: #F0DFD3;
}

.nion1{
  position: absolute;
  font-family: 'handjet';
  font-variation-settings: "ELSH" 14, "wght"800, "ELGR" 1;
  font-size: 500px;
  top: 4600px;
  left: 250px;
  transform: rotate(60deg);
}

.nion2{
  position: absolute;
  font-family: 'handjet';
  font-variation-settings: "ELSH" 14, "wght"700, "ELGR" 2;
}

#nion2-1{
  font-size: 300px;
  top: 5300px;
  left: 750px;
  transform: rotate(60deg);
}

#nion2-2{
  font-size: 300px;
  top: 5570px;
  left: 820px;
  transform: rotate(-120deg);
}

#nion2-3{
  font-size: 270px;
  top: 5820px;
  left: 1000px;
  transform: rotate(70deg);
}

#nion2-4{
  font-size: 260px;
  top: 5990px;
  left: 1100px;
  transform: rotate(50deg);
}

#nion2-5{
  font-size: 220px;
  top: 6200px;
  left: 1140px;
  transform: rotate(45deg);
}

#nion2-6{
  font-size: 190px;
  top: 6350px;
  left: 1230px;
  transform: rotate(12deg);
}



/*Barriers*/


#I1{
  position: absolute;
  font-family: 'recursive';
  font-variation-settings: "MONO" 0, "CASL" 0, "wght" 500, "slnt" 0;
  font-size: 1400px;
  color:#d93f40;
  top:6000px;
  left: 340px;
  transform:rotate(-90deg);
  z-index: 6;
}

#I2{
  position: absolute;
  font-family: 'recursive';
  font-variation-settings: "MONO" 0, "CASL" 0, "wght" 500, "slnt" 0;
  font-size: 1400px;
  color:#d93f40;
  top:6000px;
  left: 1475px;
  transform:rotate(90deg);
  z-index: 6;
}


/*Rain drops*/

#rain{
  font-family: 'recursive';
  font-variation-settings: "MONO" 1, "CASL" 1, "wght" 680, "slnt" 0;
  color: #e4a5a5;
 }

#tk1{
  position: absolute;
  font-size: 110px;
  top: 7100px;
  left: 1045px;
}

#tk1:hover{
  animation-name: tk-tilt-shaking;
  animation-iteration-count: infinite;
  animation-duration: 0.60s;
}

#tk2{
  position:absolute;
  font-size: 110px;
  top: 7100px;
  left: 1200px;
}

#tk2:hover{
  animation-name: tk-tilt-shaking;
  animation-iteration-count: infinite;
  animation-duration: 0.60s;
}

#tk3{
  position:absolute;
  font-size: 110px;
  top: 7100px;
  right: 400px;
}

#tk3:hover{
  animation-name: tk-tilt-shaking;
  animation-iteration-count: infinite;
  animation-duration: 0.60s;
}

@keyframes tk-tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

#tink1{
  position: absolute;
  font-size: 110px;
  top: 7100px;
  left: 1045px;
  animation-name: tink1;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
-webkit-animation-timing-function: ease-in-out;
}

@keyframes tink1 {

  0% {
    top: 7100px; 
    left: 1145px;
    opacity: 0%;
    transform: rotate(0deg);
}
  3% {
  opacity: 25%;
}

  15% {
    top: 9055px;
    left: 1145px;
    opacity:100%;
    transform: rotate(0deg);
  }  
  16% {
    top: 9080px;
    left: 1145px;
    opacity:100%;
    transform: rotate(0deg);
  }  
  17% {
    top: 9055px;
    left: 1145px;
    opacity:100%;
    transform: rotate(0deg);
  }  


  100%{
    top:8200px;
    left: -300px;
    opacity: 0%;
    transform: rotate(-140deg);
    font-size: 50px;
  }

}


#tink2{
  position:absolute;
  font-size: 110px;
  top: 7100px;
  left: 950px;
  animation-name: tink2;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 0.3s;
  animation-timing-function: ease-in-out;
-webkit-animation-timing-function: ease-in-out;
}

@keyframes tink2 {

  0% {
    top: 7000px; 
    left: 1145px;
    opacity: 0%;
    transform: rotate(0deg);
}
  3% {
  opacity: 25%;
}

  15% {
    top: 9055px;
    left: 1145px;
    opacity:100%;
    transform: rotate(0deg);
  }  
  16% {
    top: 9080px;
    left: 1145px;
    opacity:100%;
    transform: rotate(0deg);
  }  
  17% {
    top: 9055px;
    left: 1145px;
    opacity:100%;
    transform: rotate(0deg);
  }  

  100%{
    top:8000px;
    right: -300px;
    opacity: 0%;
    transform: rotate(40deg);
    font-size: 70px;
  }

}

#tink3{
  position:absolute;
  font-size: 110px;
  top: 7100px;
  left: 1245px;
  animation-name: tink3;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
-webkit-animation-timing-function: ease-in-out;
}

@keyframes tink3 {

  0% {
    top: 7100px; 
    left: 1145px;
    opacity: 0%;
    transform: rotate(0deg);
}
  1.5% {
  opacity: 25%;
}

  10% {
    top: 9055px;
    left: 1145px;
    opacity:100%;
    transform: rotate(0deg);
  }  
  15% {
    top: 9100px;
    left: 1145px;
    opacity:100%;
    transform: rotate(0deg);
  }  
  19% {
    top: 9080px;
    left: 1145px;
    opacity:100%;
    transform: rotate(0deg);
  }
  23% {
    top: 9100px;
    left: 1145px;
    opacity:100%;
    transform: rotate(0deg);
  }

  35% {
    top: 9100px;
    left: 1145px;
    opacity:100%;
    transform: rotate(90deg);
  } 


  100%{
    top:10000px;
    left: 1145px;
    opacity: 0%;
    transform: rotate(90deg);
  }

}

#tink4{
  position:absolute;
  font-size: 110px;
  top: 7100px;
  right: 400px;
  animation-name: tink4;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
-webkit-animation-timing-function: ease-in-out;
}

@keyframes tink4 {

  0% {
    top: 7100px; 
   right: 400px;
    opacity: 0%;
    transform: rotate(0deg);
}
  3% {
  opacity: 25%;
}

  15% {
    top: 9055px;
    right:400px;
    opacity:100%;
    transform: rotate(0deg);
  }  
  16% {
    top: 9080px;
    right: 400px;
    opacity:100%;
    transform: rotate(0deg);
  }  
  17% {
    top: 9055px;
    right: 400px;
    opacity:100%;
    transform: rotate(0deg);
  }  


  100%{
    top:8200px;
    right: -300px;
    opacity: 0%;
    transform: rotate(140deg);
    font-size: 50px;
  }

}



 /*PANG*/

#pang{
 position: absolute;
 font-family: 'handjet';
 font-variation-settings: "ELSH" 2, "wght"850, "ELGR" 1;
 color: #bb040b;
 font-size: 1000px;
 top: 9000px;
 left: 500px;
}


